body{
    margin: 0;
}
.Hall{
    background-image: url(https://i.gifer.com/75xZ.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    image-rendering: pixelated;
}
nav {
    max-width: 900px;
    margin:auto ;
    background-color: rgba(255, 255, 255, 0.491);
    font-size: 20px;
    
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 0 ;
}

.menu-horizontal>i>a {
    display: block;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.491);
    text-decoration: none;
}

.menu-horizontal>li:hover {
    background-color: rgb(30, 0, 255);
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color:rgba(255, 255, 255, 0.491);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}
.titulos{
    text-align: center;
}
.jHistoria{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d2be3eb2-8207-4c3c-b517-0a7b968b6dc3/dbilzlz-62892355-8bfa-4e44-a080-d398b1cf065a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QyYmUzZWIyLTgyMDctNGMzYy1iNTE3LTBhN2I5NjhiNmRjM1wvZGJpbHpsei02Mjg5MjM1NS04YmZhLTRlNDQtYTA4MC1kMzk4YjFjZjA2NWEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N2TePRAhTFUCLoJsy6ZzEqWpzLYYgIl3BV6SANrZKDM);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    margin-top:0;
    image-rendering: pixelated;
}
.jShooter{
    background-image: url(https://pa1.aminoapps.com/6147/34cb727b7375ba4918c869fef27079b811e8ee09_hq.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    margin-top:0;
    image-rendering: pixelated;
}
.jSurvival{
    background-image: url(https://i.pinimg.com/originals/ba/ed/da/baeddaa8a28ed4a71df79662ffbb15f6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    margin-top:0;
    image-rendering: pixelated;
}
.jMetroidvania{
    background-image: url(https://i.pinimg.com/originals/c2/70/90/c270908a2dd413f84e39e194b995199e.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    margin-top:0;
    image-rendering: pixelated;
}
.jFantasiaMedieval{
    background-image: url(https://i.pinimg.com/originals/53/ad/0c/53ad0cc3373bbe0ea51dd878241952c6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
    width: 100%;
    margin-top:0;
    image-rendering: pixelated;
}
h1{
    margin-top: 0;
}